[Unit]
Description=DAP Auth server

[Service]
Type=simple
User=diel
WorkingDirectory=/home/diel/API-Server
ExecStart=/usr/bin/node /home/diel/API-Server/dist/serviceAuth/main.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
