.DS_Store
.thumbs.db
node_modules
/dist
/certs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/**/*.map
servconfig.json
configfile.*
local_data
/reportgen/Client_*
/dbTelegram
yarn.lock
prodbkp.sql
/coverage
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/log
/cache
/tmp
srcCommon/db/migrations
